{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('import') }}" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="_file" accept=".xls"/>
        <button type="submit">Upload</button>
    </form>
{% endblock %}