{% extends 'base.html.twig' %}

{% block body %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('login') }}">Login</a>
        <a href="{{ path('app_register') }}">Register</a>
    {% else %}
        <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
{% endblock %}