{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Date of birth</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.dateOfBirth|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}