{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h1>Reset password</h1>

    {{ form_start(resetPasswordForm) }}
    {{ form_row(resetPasswordForm.email) }}
    {{ form_row(resetPasswordForm.oldPlainPassword) }}
    {{ form_row(resetPasswordForm.newPlainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">Reset password</button>
    {{ form_end(resetPasswordForm) }}
{% endblock %}
